<header class="header">

<h3>Task Details</h3>
</header>

<hr />

<div>

    <div>

    <label><b>Task ID:</b></label>{{task. task_ID}}

</div>

<div>

    <label><b>owner_ID:</b></label>{{task.owner_ID}}    

</div>

<div>

    <label><b>creator_ID:</b></label>{{task.creator_ID}}

</div>

<div>

    <label><b>name:</b></label>{{task.name}}

</div>

<div>

    <label><b>description:</b></label>{{task.description}}

</div>

<div>

    <label><b> priority:</b></label>{{task.priority}}

</div>

<div>

    <label><b>status:</b></label>{{task.status}}

</div>

<div>

    <label><b>Notes:</b></label>{{task.notes}}

</div>

<div>

    <label><b>isBookMarked:</b></label>{{task.isBookmarked}}

</div>

<div>

    <label><b>Created On:</b></label>{{task.created_On}}

</div>

<div>

    <label><b>Status Changed On:</b></label>{{task.status_Changed_On}}

</div>

</div>



<br>

<br>

 <button (click)="list()" class ="btn btn-primary">Back to Task List</button>
 <footer class="footer">

 </footer>