<p>user-details works!</p>
<header class="header">
    <h3>Userdetails</h3>
</header>
<hr />
<div>
    <div>

        <label><b>UserID:</b></label>{{user.user_ID}}
    
    </div>
    <div>

        <label><b>Username:</b></label>{{user.username}}
    
    </div>
    <div>

        <label><b>Email:</b></label>{{user.email}}
    
    </div>
    <div>

        <label><b>Firstname:</b></label>{{user.first_Name}}
    
    </div>
    <div>

        <label><b>Lastname:</b></label>{{user.last_Name}}
    
    </div>
    <div>

        <label><b>Contactnumber:</b></label>{{user.contact_Number}}
    
    </div>
    <div>

        <label><b>Role:</b></label>{{user.role}}
    
    </div>
    <div>

        <label><b>IsActive:</b></label>{{user.active}}
    
    </div>
    <div>

        <label><b>DOB:</b></label>{{user.dOB}}
    
    </div>
    <div>

        <label><b>Createdon:</b></label>{{user.createdOn}}
    
    </div>
    <div>

        <label><b>Password:</b></label>{{user.password}}
    
    </div>
</div>
<br>

<br>

 <button (click)="list()" class ="btn btn-primary">Back to user List</button>
 <footer class="footer">

 </footer>